@model DetailsViewModel
@{

    ViewData["Title"] = Resource.DetailsReservation;
}

<div>
    <div class="row">
        <div class="page-title">
            <h2>Resource.DetailsReservation</h2>
        </div>
    </div>
    <div class="row">
        <div class = "col-md-5 d-none d-md-block">
            <img src="https://image.shutterstock.com/image-vector/really-good-big-finger-image-260nw-498076033.jpg" alt="Good">
        </div>                  
        <div class="col-md-7">
            <div class="page-title">
                <h2>@Resource.DetailsReservationTitle</h2>
            </div>

            <div class="row details-row">
                <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Nom) : </div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Nom)</div>
            </div>
            <div class="row details-row">
                <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Courriel) : </div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Courriel)</div>
            </div>
            <div class="row details-row">
                <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.NbPersonne) : </div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.NbPersonne)</div>
            </div>
            <div class="row details-row">
                <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Date) : </div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Date)</div>
            </div>
            <div class="row details-row">
                <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.MenuChoiceId) : </div>
                <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.MenuChoiceId)</div>
            </div>
            <div class="text-center">
               @Resource.ThanksMessage
               @Resource.SeeYouSoon
            </div>
            <div class="text-center">
               @Resource.Team
            </div>
            <div class="links">
                <a asp-controller="Home" asp-action="Index">@Resource.ButtonReturnHome</a>
            </div>
        </div>
    </div>>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
