@model ListReservationViewModel
@{
    ViewData["Title"] = @Resource.DeleteReservationTitle;
}

<div class="row">
    <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
        <div class="page-title">
            <h2> <i class="fas fa-user"></i> @Resource.DeleteReservationTitle</h2>
        </div>

        <div class="row details-row">
            <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Nom) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Nom)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Courriel) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Courriel)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.NbPersonne) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.NbPersonne)</div>
        </div>
        <div class="row details-row">
            <div class="col-sm-6">@Html.DisplayNameFor(model => model.Reservation.Date) : </div>
            <div class="col-sm-6">@Html.DisplayFor(model => model.Reservation.Date)</div>
        </div>
        <form asp-action="Delete">
            <input type="submit" value=@Resource.ButtonDelete class="btn btn-danger" />
        </form>
        <div class="links">
            <a asp-action="List">@Resource.ButtonReturnListReservation</a>
        </div>
    </div>

</div>>