@model ListReservationViewModel
@{
    ViewData["Title"] = @Resource.ListReservationTitle;
}

<div id="product-list-page">
    <div class="page-title">
        <h2>@Resource.ListReservationTitle</h2>
    </div>

    <table class="table table-sm table-bordered table-striped table-hover">
        <tr>
            <!--
    <th>Code</th>
    <th>Nom du produit</th>
    <th>Catégorie</th>
    <th>Quantité en stock</th>
    -->
            <!-- Permet d'utiliser l'attribut Display(Name="...") de propriété du modèle -->
            <!-- Permet de gérer l'affichage du modèle à un seul endroit -->
            <th>@Html.DisplayNameFor(model => model.Reservations[0].Date)</th>
            <th>@Html.DisplayNameFor(model => model.Reservations[0].Nom)</th>
            <th class="d-none d-lg-block">@Html.DisplayNameFor(model => model.Reservations[0].Courriel)</th>
            <th>@Html.DisplayNameFor(model => model.Reservations[0].NbPersonne)</th>
            <th>@Html.DisplayNameFor(model => model.Reservations[0].MenuChoiceId)</th>
            <th class="d-none d-md-block">Actions</th>
        </tr>
        @if (Model.Reservations.Length > 0)
        {
            foreach (Reservation reservation in Model.Reservations)

            {
    <tr>
        <td>@Html.DisplayFor(model => reservation.Date)</td>
        <td>@Html.DisplayFor(model => reservation.Nom)</td>
        <td class="d-none d-lg-block" >@Html.DisplayFor(model => reservation.Courriel)</td>
        <td>@Html.DisplayFor(model => reservation.NbPersonne)</td>
        <td>@Html.DisplayFor(model => reservation.MenuChoiceId)</td>

        <td>
            <a asp-action="Delete" asp-route-id="@reservation.Id" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></a>
        </td>
    </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">@Resource.NoReservationFound</td>
            </tr>
        }
    </table>
</div>